
<header class="header">
    <p class="logo">U-Craft .</p>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Custom</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        <a href="/login"><button id="login-btn" type="button">Log in</button></a>
        <a href="/signup"><button id="signup-btn" type="button">Sign up</button></a>
        
    </div>
</header>