<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Account - U-Craft</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/auth.css">
    <style>
        body {
            background-image: url(/images/background/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
        }

        #rightHeader h2 {
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-top: 10px;
            text-align: center;
        }

        #rightBody label {
            font-size: 14px;
            color: #333;
            margin-bottom: 10px;
            align-self: flex-start;
        }

        #loginButton {
            width: 90%;
        }

        #loginButton button {
            width: 100%;
            height: 40px;
            font-size: 14px;
            background-color: transparent;
            border-radius: 50px;
            border: 2px solid rgba(128, 128, 128, 0.551);
            cursor: pointer;
            transition: background-color 0.3s;
            color: #992828;
        }

        #loginButton button:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }

        .error-message{
            color:red
        }
    </style>
</head>
<body>
    <header>
        <p class="logo">U-Craft .</p>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Explore</li>
                <li>Contact</li>
            </ul>
        </nav>
        <div class="buttons">
            <button id="login" type="button">Log in</button>
            <button id="signup" type="button">Sign up</button>
        </div>
    </header>
    <main>
        <div id="loginContainer">
            <div id="loginLeft">
                <img id="loginImage" src="/images/background/linevector.png" alt="Decorative background">
            </div>
            <div id="loginRight">
                <div id="rightHeader">
                    <img src="/images/background/U-Craft_logo.png" alt="U-Craft Logo" id="loginHeadLogo">
                    <h2>Let's Find Your Account.</h2>
                    <div class="error-message"><% if(error) { %>
                        <p> <%= error %></p>
                    <% } %></div>
                </div>
                <div id="rightBody">
                    <form action="/forgotPassword" method="post">
                        <label for="email">What's your e-mail?</label>
                        <input type="text" id="email" name="email" placeholder="Email" >
                        <button type="submit">Send One-Time-Password</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </main>
</body>
</html>